<% include ../includes/header.ejs %>

<h1 class="basic-title">Detalhe livro</h1>
<div class="container min-container">

    <div class="page-header">
        <h1><small>Produto</small></h1>
    </div>
    <div class="jumbotron">
        
        <dl>
            <dt>Título</dt>
            <dd><%=livro.titulo %></dd>
            <dt>Preço</dt>
            <dd><%=livro.preco %></dd>
            <dt>Descrição</dt>
            <dd><%=livro.descricao %></dd>
        </dl>
        
    </div>
    
</div>

<% include ../includes/footer.ejs %>
