<% include ../includes/header.ejs %>

<h1 class="basic-title">Cadastrar livros</h1>
<div class="container min-container">

   <h1>Página não encontrada!</h1>
    
</div>

<% include ../includes/footer.ejs %>