<% include ../includes/header.ejs %>

<h1 class="basic-title">Livro cadastrado com sucesso!</h1>
<div class="container min-container">
    
    <a class="btn btn-success" href="/produtos/form"><span class="glyphicon glyphicon-plus-sign"></span> Novo livro</a>
    
</div>

<% include ../includes/footer.ejs %>